services:
  db:
    image: postgres:18.1
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: iskodb
    ports:
      - 5432:5432

  adminer:
    image: adminer
    ports:
      - 8000:8080
